In [4]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('weathers.db')


conn.execute('''
    CREATE TABLE Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')


data = [(1, '2015-01-01', 10),
        (2, '2015-01-02', 25),
        (3, '2015-01-03', 20),
        (4, '2015-01-04', 30)]
conn.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', data)


conn.commit()


query = '''
    SELECT w.id
    FROM Weather w
    LEFT JOIN Weather w_prev
    ON w.id = w_prev.id + 1
    WHERE w_prev.temperature IS NULL OR w.temperature > w_prev.temperature
'''


result = pd.read_sql_query(query, conn)


result

   id
0   1
1   2
2   4